<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ithakatales.android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".app.IthakaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.LaunchActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.UserOnBoardActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.HomeActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.TourDetailActivity"
                  android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.TourPlayerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.TourGalleryActivity"/>
        <activity android:name=".ui.activity.LoginActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RegistrationActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.PasswordResetActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.PasswordForgotActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.VerifyAccountActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.SettingsActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.TourFinishActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.TourMapActivity"/>

        <!-- facebook loginNormal related -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1641419146121424"
            android:exported="true" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <!-- meta data for fabric -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f958711af2adab120a830dc232e2b390687662cc" />


    </application>

</manifest>
